---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';


// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.min-height-full {
  min-height: 100vh;
}
img {
  max-width: 60%;
}
h1.text-white > a:nth-child(1) {
  text-decoration: none;
  color: white !important;
}
@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4 {
    color: #e4e4e4 !important;
  }
  body {
    background-color: #444 !important;
    color: #e4e4e4 !important;
  }
  a {
    color: #e39777 !important;
  }
  img {
    filter: grayscale(30%) !important;
  }
  .bg-gray-light {
    background-color: rgb(48, 48, 48) !important;
  }
  .text-gray {
    color: #cac7c7 !important;
  }
  .border {
    border: none !important;
  }
  .bg-white {
    background: rgb(45, 45, 45) !important;
  }
  .octicon {
    filter: invert(1);
  }
  .link-gray-dark, .contrib-number {
    color: #e4e4e4 !important;
  }
  .border-md-right,
  .border-md-bottom {
    border: none !important;
  }
}
